*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
html {
    background-color: #00E0C0;
}
.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,  80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
}
.grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #111;
    color: #eee;
}
.grid-container > .operator {
    background: #08312b;
}
.span-two {
    grid-column: span 2;
}
.grid-container > #display {
    grid-column: 1 / -1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
.grid-container > #display > .previous-operand {
    color: rgb(255, 255, 255, 0.75);
    font-size: 1.5rem
}
.grid-container > #display > .current-operand {
    color: white;
    font-size: 2.5rem;
}
.grid-container > button:hover {
    background: white;
    color: #111;
}
.grid-container > .operator:hover {
    background: #021f1a;
    color: #eee;
}
